body {
	color: #555;
	background: url(/images/bg.jpg);
	font-size: 14px;
}

h1 {
	color: #555;
	font-size: 24px;
}

#bar {
	height: 20px;
    padding: 20px;
	border-bottom: 1px solid #7C7C7C;
	box-shadow: 0 0 5px #333;
	position: relative;
	
	background-image: linear-gradient(bottom, rgb(216,216,216) 28%, rgb(245,245,245) 96%);
	background-image: -o-linear-gradient(bottom, rgb(216,216,216) 28%, rgb(245,245,245) 96%);
	background-image: -moz-linear-gradient(bottom, rgb(216,216,216) 28%, rgb(245,245,245) 96%);
	background-image: -webkit-linear-gradient(bottom, rgb(216,216,216) 28%, rgb(245,245,245) 96%);
	background-image: -ms-linear-gradient(bottom, rgb(216,216,216) 28%, rgb(245,245,245) 96%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.28, rgb(216,216,216)),
		color-stop(0.96, rgb(245,245,245))
	);
}

#container {
	width: 960px;
	margin: 0 auto;
	border: 1px solid #ccc;
}

.section {
	padding: 20px;
}

#top {
	background-color: #fff;
}

#middle {
	background-color: #f6f6f6;
}

#bottom {
	background-color: #95b3c0;
	border-top: 1px solid #7298A8;
	/*box-shadow: 0 3px 8px -3px #555555 inset;*/
}

h2 {
	font-weight: bold;
	font-size: 30px;
	line-height: 32px;
	margin-bottom: 10px;
	letter-spacing: -0.01em;
}

h3 {
	font-size: 24px;
	font-weight: bold;
}

h4 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

#top p {
	font-size: 18px;
	line-height: 21px;
}

#bottom p {
	font-size: 13px;
	line-height: 18px;
	color: #4e5767;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.col-3 {
	width: 320px;
}

.col-220 {
	width: 220px;
}

.col-440 {
	width: 440px;
}

.push-20 {
	margin-right: 20px;
}

.push-40 {
	margin-right: 40px;
}

.push-160 {
	margin-right: 160px;
}

#top section {
	float: left;
}

input {
	height: 33px;
	border: 1px solid #c8c8c8;
	box-shadow: 0px 0px 0px 3px #e6e6e6;
	font-size: 16px;
	padding-left: 5px;
	margin-bottom: 16px;
	width: 100%;
}

::-webkit-input-placeholder  {
	color: #cfcfcf;
}

input:-moz-placeholder {
	color:#cfcfcf;
}

#add-url {
	display: block;
	font-size: 14px;
	margin: 0 0 15px;
	cursor: pointer;
}

.use-case {
	float: left;
	margin-top: 25px;
	margin-bottom: 10px;
}

.use-case img {
	float: left;
}

.use-case div {
	width: 220px;
	float: left;
}

.use-case p {
	line-height: 18px;
}

#title {
	width: 960px;
	margin: 0 auto;
	padding-left: 40px;
}

iframe {
	-moz-transform: scale(0.5, 0.5) translate(-50%, -50%);
    height: 400px;
    width: 640px;
    margin-top: 10px;
}